In [6]:

import os
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import numpy as np
import warnings
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import warnings
from pylab import mpl, plt
import matplotlib.patches as mpatches

# best font and style settings for notebook 
warnings.filterwarnings('ignore')
sns.set_style("white")
mpl.rcParams['font.family'] = 'MiSans'
# /Users/republic/Downloads/LogLLM/logcot/Find_detect/COT_TEST.ipynb

In [7]:
path_1 = "./output_528/log_czp_db1_kernel_rawAligned_final.xlsx"
path_2 = "./output_528/log_database_log_rawAligned_final.xlsx"

In [8]:
df_1 = pd.read_excel(path_1)
df_2 = pd.read_excel(path_2)

In [9]:
len(df_1), len(df_2)

(10424, 473)

In [12]:
df_1[df_1['result'] == 'abnormal']

                                             log_content    result
14     Apr 23 14:43:31 czp-db1 kernel: end_request: I...  abnormal
40     Apr 23 16:16:55 czp-db1 kernel: megaraid_sas 0...  abnormal
196    Apr 23 16:16:56 czp-db1 kernel: ipmi_si: Inter...  abnormal
197    Apr 23 16:16:55 czp-db1 kernel: i40e 0000:1a:0...  abnormal
215    Apr 23 16:16:55 czp-db1 kernel:   alloc irq_de...  abnormal
...                                                  ...       ...
9936   Apr 23 15:59:10 czp-db1 kernel:  sdn: unknown ...  abnormal
9996   Apr 23 15:59:10 czp-db1 kernel: megaraid_sas 0...  abnormal
10216  Apr 23 16:17:30 czp-db1 kernel: bond1: link st...  abnormal
10281  Apr 23 16:16:55 czp-db1 kernel: ata13: SATA li...  abnormal
10370  Apr 23 15:59:10 czp-db1 kernel: ata11: SATA li...  abnormal

[133 rows x 2 columns]

In [13]:
df_2[df_2['result'] == 'abnormal']

                                           log_content    result
0    2025-04-23 15:04:26.022 [WARNING] database P00...  abnormal
2    2025-04-23 15:04:16.013 [ERROR] database P0000...  abnormal
4    2025-04-23 15:11:43.274 [ERROR] database P0000...  abnormal
6    2025-04-23 15:07:02.002 [ERROR] database P0000...  abnormal
7    2025-04-23 14:57:57.995 [ERROR] database P0000...  abnormal
..                                                 ...       ...
459  2025-04-23 15:15:37.478 [ERROR] database P0000...  abnormal
461  2025-04-23 15:10:32.741 [WARNING] database P00...  abnormal
463  2025-04-23 15:11:12.952 [WARNING] database P00...  abnormal
466  2025-04-23 15:04:26.020 [WARNING] database P00...  abnormal
469  2025-04-23 14:57:56.527 [ERROR] database P0000...  abnormal

[198 rows x 2 columns]